<html>
    <body>
        <p>
            The details of your cab are as follows:<br>
            <b>From:</b> {from_loc}<br>
            <b>To:</b> {to_loc}<br>
            <b>Cab Departure Window:</b> {start_time} - {end_time}<br>
        </p>
        <p>
            Other people will be able to contact you at:<br>
            <b>Phone:</b> {owner_phone}<br>
            <b>Email:</b> {owner_email}<br>
        </p>
        <p>
            For more details or to edit your booking, please visit <a href="https://cabsharing.iith.dev/">https://cabsharing.iith.dev/</a>
        </p>
    </body>
</html>
