POSTGRES_USER='postgres'
POSTGRES_PASS='password'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
DATABASE='db'


ACCESS_TOKEN_SECRET="345"
REFRESH_TOKEN_SECRET="123"
GOOGLe_SECRET=""
GOOGLE_CLIENT_ID=google_client_id

