POSTGRES_USER='postgres'
POSTGRES_PASS='pass'
POSTGRES_HOST='host'
POSTGRES_PORT='port'
DATABASE='db'

TOKEN_SECRET='secret'

AWS_ACCESS_KEY_ID='string'
AWS_SECRET_ACCESS_KEY='string'
BUCKET_NAME='string'
RESOURCE_URI='string'

ELASTIC_USERNAME='elastic'
ELASTIC_PASSWORD='password'
ELASTIC_HOST='host'
ELASTIC_PORT='port'

ACCESS_TOKEN_SECRET="345"
REFRESH_TOKEN_SECRET="123"
GOOGLe_SECRET=""
GOOGLE_CLIENT_ID=google_client_id

