TOKEN_SECRET="SomeSecret"
GOOGLE_CLIENT_ID="XXX"
WEB_URL="https://dashboard.iith.dev"
DB_URL="postgresql:XXX"

# Hostel Complaint Admin Key
HOSTEL_COMPLAINT_ADMIN_KEY="VerySecretKey"
HOSTEL_COMPLAINT_SHEET_TOKEN_SECRET="SUPER_STRONG_PASSWORD"
HOSTEL_COMPLAINT_SHEET_WEBHOOK="https://script.google.com/.../exec"
HOSTEL_COMPLAINT_EMAIL="email@example.com"
HOSTEL_COMPLAINT_EMAIL_PASSWORD="email-password"


# AWS S3 Environment Variables
BUCKET_NAME=""
REGION=""
RESOURCE_URI=""

# Email Sending Environment Variables
EMAIL="email@example.com"
EMAIL_PASSWORD="email-password"